<!--<app-nav-bar></app-nav-bar>-->
<app-header></app-header>
<!--<app-service-list></app-service-list>-->
<!--<app-villa-create-form></app-villa-create-form>-->
<!--<app-customer-list></app-customer-list>-->
<!--<app-customer-create-form></app-customer-create-form>-->
<!--<app-customer-edit-form></app-customer-edit-form>-->
<!--<app-villa-edit-form></app-villa-edit-form>-->
<!--<app-contract-list></app-contract-list>-->
<app-contract-create-form></app-contract-create-form>
<app-footer></app-footer>
