<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light  fixed-top bg-info bg-gradient text-white">
    <div class="container-fluid row ">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="col-2"></div>
      <div class="col-5">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link lead" href="#">C1121G1 - Trương Trịnh Khải</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse col-5" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 lead">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="http://localhost:63342/furama_fe/template/home.html">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Về chúng tui</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              Quản lý
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" [routerLink]="['/customer-list']">Khách hàng</a>
              </li>
              <li>
                <a class="dropdown-item">Nhân viên</a>
              </li>
              <li>
                <a class="dropdown-item"  [routerLink]="['/service-list']">Dịch vụ</a>
              </li>
              <li>
                <a class="dropdown-item"  [routerLink]="['/contract-list']">Hợp đồng</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
